
.apt-listings {
  /*margin: 0 auto;*/
  height: 100vh;
}

.apt-listings h1 {
  padding: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: #f1f1f1;
  /*text-transform: uppercase;*/
}
.apt-listings ul {
  width: 500px;
  margin: 0 auto;
}

.apt-listings ul li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #f1f1f1;
  margin: 10px 0;
  /*height: 100px;*/
  overflow: hidden;
  height: 120px;
  cursor: pointer;
}

.apt-listings ul li:hover {
  background: #d8d8d8;
}

.apt-listings ul li .img{
  width: 35%;
  background: red;
  /*height: 100px;*/
}

.apt-listings ul li .img img{
  height: 100%;
  /*width: 100%;*/
}

.apt-listings ul li .info{
  /*width: 300px;*/
  width:65%;
  /*text-align: center;*/
  /*height: 100px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: space-betwee;*/
  padding: 20px ;
}
